body {
  background-image: url('./blueberry.jpg'); 
  background-size: cover; 
  background-position: center; 
   height: 100vh;
}
.App {
  display: flex;
  justify-content: center;
  
}

.container_loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a94;
}
.container {
  width: 100%;
  max-width: 500px;
  background: #E2E0C8;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h1 {
  font-family: "Inter", sans-serif;
  color: #5C7285;
}


.search {
    
    padding: 10px;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    color: #54473F;
    font-size: 16px;
    font-weight: 400;
    box-shadow: inset 0px 0px 8px 8px rgba(92, 114, 133, 0.3);
    border: 2px solid #54473F;
    border-radius: 5px;
    margin-left: -25px;
    }

    button {
      padding: 8px 30px 8px 30px;
      border-radius: 10px;
      color: #54473F;
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-weight: 500;
      margin-top: 30px;
      background-color: #A7B49E;
  
    }
    button:hover {
      background-color:#818C78 ;
    } 

    .calorien {
      color: #54473F;
      font-family: "Inter", sans-serif;
      font-size: 25px;
      font-weight: 600;
    }